<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>张盼盼的博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        type="text/css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=cyrillic"
        type="text/css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="__INDEX__/css/basic.css" />
    <link type="text/css" rel="stylesheet" href="__INDEX__/css/layout.css" />
    <link type="text/css" rel="stylesheet" href="__INDEX__/css/blogs.css" />
    <link type="text/css" rel="stylesheet" href="__INDEX__/css/line-awesome.css" />
    <link type="text/css" rel="stylesheet" href="__INDEX__/css/magnific-popup.css" />
    <link type="text/css" rel="stylesheet" href="__INDEX__/css/animate.css" />
    <link type="text/css" rel="stylesheet" href="__INDEX__/css/simplebar.css" />

    <!-- theme colors -->
    <!-- <link type="text/css" rel="stylesheet" href="__INDEX__/css/theme-colors/green.css" /> -->
    <!-- <link type="text/css" rel="stylesheet" href="__INDEX__/css/theme-colors/blue.css" /> -->
    <!--<link type="text/css" rel="stylesheet" href="__INDEX__/css/theme-colors/red.css" />-->
    <link type="text/css" rel="stylesheet" href="__INDEX__/css/theme-colors/orange.css" />
    <!--<link type="text/css" rel="stylesheet" href="__INDEX__/css/theme-colors/pink.css" />-->
    <!--<link type="text/css" rel="stylesheet" href="__INDEX__/css/theme-colors/purple.css" />-->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
    {__CONTENT__}

    <script type="text/javascript" src="__INDEX__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__INDEX__/js/jquery.validate.js"></script>
    <script type="text/javascript" src="__INDEX__/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="__INDEX__/js/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="__INDEX__/js/masonry.pkgd.js"></script>
    <script type="text/javascript" src="__INDEX__/js/masonry-filter.js"></script>
    <script type="text/javascript" src="__INDEX__/js/simplebar.js"></script>
    <script type="text/javascript" src="__INDEX__/js/typed.js"></script>

    <script type="text/javascript" src="__INDEX__/js/scripts.js"></script>
</body>

</html>